<ion-header [translucent]="true">
  <ion-toolbar *ngIf="player && game">
    <ion-buttons slot="start" *ngIf="game.available">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title size="small" color="danger"> "{{player.id}}", estas en la sala "{{game.id}}" jugando con la letra "{{game.letter}}"
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list *ngIf="player && game">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="player.name" readonly="{{!game.available}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="player.lastName" readonly="{{!game.available}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-input [(ngModel)]="player.color" readonly="{{!game.available}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Animal</ion-label>
      <ion-input [(ngModel)]="player.animal" readonly="{{!game.available}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fruta</ion-label>
      <ion-input [(ngModel)]="player.fruit" readonly="{{!game.available}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Verdura</ion-label>
      <ion-input [(ngModel)]="player.vegetable" readonly="{{!game.available}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input [(ngModel)]="player.brand" readonly="{{!game.available}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pais</ion-label>
      <ion-input [(ngModel)]="player.country" readonly="{{!game.available}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Objeto</ion-label>
      <ion-input [(ngModel)]="player.something" readonly="{{!game.available}}"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <section *ngIf="game">
      <ion-button expand="block" (click)="endRound()" disabled="{{!game.available}}">Finalizar Partida</ion-button>
      <br>
      <ion-button expand="block" (click)="goTabValidate()" disabled="{{game.available}}">Calificar los Resultados</ion-button>
      <br>
    </section>
  </ion-toolbar>
</ion-footer>