<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sala
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Cree una sala, o suscribase a una</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre Sala:</ion-label>
          <ion-input [(ngModel)]="nameGame"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nickname:</ion-label>
          <ion-input [(ngModel)]="nickname"></ion-input>
        </ion-item>
        <br>
        <section>
          <ion-button expand="block" (click)="createGame()">Crear</ion-button>
        </section>

        <br>
        <section *ngIf="game">
          <ion-button expand="block" (click)="startGame()" disabled="{{game.available}}">Comenzar Partida</ion-button>
        </section>

        <br>
        <section *ngIf="game">
          <ion-button expand="block" (click)="joinGame()" disabled="{{!game.available}}">Unirse al Juego</ion-button>
        </section>

        <br>
        <div *ngIf="players">
          <ion-label >Usuarios en linea ({{players.length}}):</ion-label>
          <ion-label *ngFor="let player of players">
            {{player.id}} |
          </ion-label>
        </div>

      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
