<ion-header [translucent]="true">
  <ion-toolbar *ngIf="idGame && nickname && letter">
    <!--    <ion-buttons slot="start" (click)="goBack()">-->
    <!--      <ion-icon color="primary" class="back-button" name="arrow-back-outline"></ion-icon>-->
    <!--    </ion-buttons>-->
    <ion-title size="small" color="danger"> "{{nickname}}", estas calificando los resulados de la sala"{{idGame}}" jugado con la letra "{{letter}}"
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding" scroll-y="true">
  <ion-slides pager="true">

    <ion-slide *ngFor="let player of players">
      <ion-card style="width:100%">
        <ion-card-header>
          <ion-card-title>{{player.id}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-list>
             <ion-item>
              <ion-label>
                <p>Nombre</p>
                <h3>{{player.name}}</h3>
              </ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>
                <p>Nombre</p>
                <h3>{{player.lastName}}</h3>
              </ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>
                <p>Color</p>
                <h3>{{player.color}}</h3>
              </ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>
                <p>Animal</p>
                <h3>{{player.animal}}</h3>
              </ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>
                <p>Fruta</p>
                <h3>{{player.fruit}}</h3>
              </ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>
                <p>Verdura</p>
                <h3>{{player.vegetable}}</h3>
              </ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>
                <p>Marca</p>
                <h3>{{player.brand}}</h3>
              </ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>
                <p>Pais</p>
                <h3>{{player.country}}</h3>
              </ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>
                <p>Objeto</p>
                <h3>{{player.something}}</h3>
              </ion-label>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <section>
      <ion-button expand="block" (click)="endQualify()">Finalizar Calificacion</ion-button>
      <br>
      <br>
    </section>
  </ion-toolbar>
</ion-footer>