<ion-header [translucent]="true">
  <ion-toolbar>
<!--    <ion-buttons slot="start">-->
<!--      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>-->
<!--    </ion-buttons>-->
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon color="primary" class="back-button" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="idGame">
      {{idGame}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="ion-margin-top">
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>